Package: acn-py
Version: 2.0.3
Architecture: all
Maintainer: Cyrille Biot <cyrille@cbiot.fr>
Installed-Size: 30
Depends: python3, python3-nmap
Section: admin
Priority: optional
Homepage: https://github.com/CyrilleBiot/acn-py
Description: Autoconfiguration and installation of a apt-cacher-ng server and configuration of cron-apt to download automatically the updates and install the security updates.
